@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 270px 1fr 1fr 1fr;
    grid-template-areas: "jackpot-area a b c";
}

/*  JACKPOT RIGHT SIDE AREA GRID AND MORE */

.grid-area-jackpots {
    grid-area: jackpot-area;
    background-color: #263238;
    border-radius: 4px;
    margin: 8px 0 8px 8px;
}


.jackpot-item {
    display: flex;
    padding: 13px;
    cursor: pointer;
    max-width: 100%;
    width: 100%;
    outline: none;
}

.jackpot-inside-items {
    display: grid;
    grid-template-columns: 60px 1fr;

}

.jackpot-inside-categories {
    display: grid;
    grid-template-columns: 45px 1fr;

}

.jackpot-sums {
    /* width: 270px; */
    height: 230px;
    margin: 8px 0 8px 8px;
    background-color: #263238;
    display: grid;
    grid-template-rows: 120px 50px 30px;
}

.bordered-box {
    background-color: #263238;
}
/*  END HERE RIGHT SECTION  */

/* IMAGES Resolution change */

.images {
    width: 52.5px;
    height: 50px;
}

.images-categories {
    width: 40px;
    height: 30px;
}

.jackpot-img {
    width: 200px;
    height: 100px;
    
}

.jackpot-image-pos {
    display: flex;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
}

.jackpot-categories-pos {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

.games-autoscroller {
    max-height: 250px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #171c26;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: #fff;
}
::scrollbar {
    display: none;
}

/* Animated Text for jackpots test */
.sign {
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient( ellipse 50% 35% at 50% 50%, #005a5e, transparent );
    transform: translate(-8%, 70%);
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 45px;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #008f93,
                -0.2rem 0.1rem 1rem #008f93, 
                0.2rem 0.1rem 1rem #008f93, 
                0 -0.5rem 2rem #005a5e, 
                0 0.5rem 3rem #005a5e;
    animation: shine 2s forwards, flicker 3s infinite;
}

  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #008f93,
        -0.2rem 0.1rem 1rem #008f93, 0.2rem 0.1rem 1rem #008f93,
        0 -0.5rem 2rem #005a5e, 0 0.5rem 3rem #005a5e;
    }
    28%,
    33% {
      color: #005a5e;
      text-shadow: none;
    }
    82%,
    97% {
      color: #005a5e;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: #008f93;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #008f93,
        -0.2rem 0.1rem 1rem #008f93, 0.2rem 0.1rem 1rem #008f93,
        0 -0.5rem 2rem #005a5e, 0 0.5rem 3rem #005a5e;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }